.card-header {
  text-align: center;
  margin: 5px;
  box-shadow: 3px 1px 5px 1px;
}

.card-body {
  margin: 10px;
  box-shadow: 3px 1px 3px 1px;
}
.btn {
  margin: 5px;
}
.card {
}
.label {
  float: right;
}
.form-group {
}
