<app-header></app-header>
{{LoggedInUser}}
<div class="content">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">Welcome {{first}}</div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" (click)="table()">View Table</button>
          <button type="button" class="btn btn-outline-primary" (click)="form()">Add Form</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">Welcome {{second}}</div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-warning" (click)="template()">Template</button>
          <button type="button" class="btn btn-outline-info" (click)="record()">Record</button>
        </div>
      </div>
    </div>
  </div>
</div>